cartopy==0.25.0
folium==0.20.0
fpdf==1.7.2
matplotlib==3.7.2
numpy==1.24.3
pandas==2.0.3
pykrige==1.7.3
requests==2.34.2
scikit-learn==1.3.0
statsmodels==0.14.6
streamlit==1.58.0
joblib
pmdarima
seaborn